.App {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#break {
    padding-right: 10%;
}

#session {
    padding-left: 10%;
}

.control {
    width: 40px;
    height: 30px;
    font-size: large;
}

.timer {
    font-size: xxx-large;
}

.start {
    width: 80px;
    height: 40px;
    font-size: large;
}